{% extends "default_skin/base.html" %}

{% block head %}
    <title>{{title}} - {{PROJECT_NAME}}</title>
{% endblock head %}


{% block content %}
            <!--Sidebar-->
                {% include "default_skin/sidebar.html" %}
            <!--/.Sidebar-->
            
            <!--Main column-->
            <div class="col-lg-8">

                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">
                    <div class="col-lg-12">
                        <div class="divider-new">
                            <h2 class="h2-responsive" id="title">{{title}}</h2>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger">
                                <strong>오류!</strong>
                                {{ error }}
                            </div>
                        {% endif %}
                        <div class="wiki-content">
                            {{diff|safe}}
                        </div>

                </div>
                <!--/.First row-->
                
                
{% endblock content %}