{% extends "base.html" %}
{% block head %}
        <title>{{title}} - {{PROJECT_NAME}}</title>
{% endblock head %}

{% block content %}

    <div class="container">
        <div class="row">
            <!--Sidebar-->
            <div class="col-lg-3 wow fadeIn" data-wow-delay="0.2s">

                <div class="widget-wrapper">
                    <div class="list-group">
                        <a href="/w/{{title|urlencode}}" class="list-group-item {% if function == 'view' %}active{% endif %}">문서</a>
                        <a href="/edit/{{title|urlencode}}" class="list-group-item {% if function == 'edit' %}active{% endif %}">편집</a>
                        <a href="/rename/{{title|urlencode}}" class="list-group-item {% if function == 'rename' %}active{% endif %}">이동</a>
                        <a href="/history/{{title|urlencode}}" class="list-group-item {% if function == 'history' %}active{% endif %}">역사</a>
                        <a href="/backlink/{{title|urlencode}}" class="list-group-item {% if function == 'backlink' %}active{% endif %}">역링크</a>
                        <a href="/delete/{{title|urlencode}}" class="list-group-item {% if function == 'delete' %}active{% endif %}">삭제</a>
                        <a href="/discuss/{{title|urlencode}}" class="list-group-item {% if function == 'discuss' %}active{% endif %}">토론</a>
                    </div>
                </div>
                
            </div>
            <!--/.Sidebar-->
            
            <!--Main column-->
            <div class="col-lg-8">

                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">
                    <div class="col-lg-12">
                        <div class="divider-new">
                            <h2 class="h2-responsive" id="title">{{title}}</h2>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger">
                                <strong>오류!</strong>
                                {{ error }}
                            </div>
                        {% endif %}
                        <div class="wiki-content">
                            {{parse|safe}}
                        </div>
                        {% if categories %}
                            {% if categories.sub %}
                                <h2 class="wiki-heading">하위 분류</h2>
                                {% for initial, category in categories.sub.items %}
                                    {% if category %}
                                        <div>
                                            <h3 class="wiki-heading">{{initial|upper}}</h3>
                                            <ul>
                                            {% for each_category in category %}
                                                <li><a href="/w/{{'분류:'|add:each_category|urlencode}}">{{each_category}}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        
                            {% if categories.page %}
                                <h2 class="wiki-heading">{{title|slice:"3:"}} 분류에 속하는 문서</h2>
                                {% for initial, category in categories.page.items %}
                                    {% if category %}
                                        <div>
                                            <h3 class="wiki-heading">{{initial|upper}}</h3>
                                            <ul>
                                            {% for each_category in category %}
                                                <li><a href="/w/{{each_category|urlencode}}">{{each_category}}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        
                            {% if categories.template %}
                                <h2 class="wiki-heading">{{title|slice:"3:"}} 분류에 속하는 틀</h2>
                                {% for initial, category in categories.template.items %}
                                    {% if category %}
                                        <div>
                                            <h3 class="wiki-heading">{{initial|upper}}</h3>
                                            <ul>
                                            {% for each_category in category %}
                                                <li><a href="/w/{{'틀:'|add:each_category|urlencode}}">{{each_category}}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                            {% if categories.project %}
                                <h2 class="wiki-heading">{{title|slice:"3:"}} 분류에 속하는 {{project_name}}</h2>
                                {% for initial, category in categories.project.items %}
                                    {% if category %}
                                        <div>
                                            <h3 class="wiki-heading">{{initial|upper}}</h3>
                                            <ul>
                                            {% for each_category in category %}
                                                <li><a href="/w/{{project_name|add:':'|add:each_category|urlencode}}">{{each_category}}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                        {% endif %}

                </div>
                <!--/.First row-->
                
                
        </div>
    </div>

{% endblock content %}