{% extends "base.html" %}

{% block content %}
    <div class="wiki-content">
{{parse|safe}}
    </div>
    {% if categories %}
        {% if categories.sub %}
            <h2 class="wiki-heading">하위 분류</h2>
            {% for initial, category in categories.sub.items %}
                {% if category %}
                    <div>
                        <h3 class="wiki-heading">{{initial|upper}}</h3>
                        <ul>
                        {% for each_category in category %}
                            <li><a href="/w/{{'분류:'|add:each_category|urlencode}}">{{each_category}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    
        {% if categories.page %}
            <h2 class="wiki-heading">{{title|slice:"3:"}} 분류에 속하는 문서</h2>
            {% for initial, category in categories.page.items %}
                {% if category %}
                    <div>
                        <h3 class="wiki-heading">{{initial|upper}}</h3>
                        <ul>
                        {% for each_category in category %}
                            <li><a href="/w/{{each_category|urlencode}}">{{each_category}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    
        {% if categories.template %}
            <h2 class="wiki-heading">{{title|slice:"3:"}} 분류에 속하는 틀</h2>
            {% for initial, category in categories.template.items %}
                {% if category %}
                    <div>
                        <h3 class="wiki-heading">{{initial|upper}}</h3>
                        <ul>
                        {% for each_category in category %}
                            <li><a href="/w/{{'틀:'|add:each_category|urlencode}}">{{each_category}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if categories.project %}
            <h2 class="wiki-heading">{{title|slice:"3:"}} 분류에 속하는 {{project_name}}</h2>
            {% for initial, category in categories.project.items %}
                {% if category %}
                    <div>
                        <h3 class="wiki-heading">{{initial|upper}}</h3>
                        <ul>
                        {% for each_category in category %}
                            <li><a href="/w/{{project_name|add:':'|add:each_category|urlencode}}">{{each_category}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
    {% endif %}
{% endblock content %}